<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootccpms.mapper.ExportCsvMapper">


    <select id="SelAll" resultType="java.util.Map">select * from ${table}</select>
    <select id="Sel" resultType="java.util.Map">
        select * from ${table} order by id limit #{prev},#{amount}
    </select>
    <select id="SelIdCount" resultType="int">
        select count(id) from ${table}
    </select>

    <!--此条用不同的数据库需要做不同的更改-->
    <select id="SelKey" resultType="String">
        SELECT GROUP_CONCAT(COLUMN_NAME) FROM information_schema.COLUMNS
        WHERE   TABLE_SCHEMA = 'ccpms' AND TABLE_NAME = '${table}'
    </select>


    <select id="SelAllCommon" resultType="java.util.Map">
        ${sql}
    </select>
    <select id="SelCommon" resultType="java.util.Map">
        ${sql} order by id limit #{prev},#{amount}
    </select>
    <select id="SelIdCountCommon" resultType="int">
        ${sql}
    </select>
    <select id="SelCommonOptimized" resultType="java.util.Map">
        ${sql} order by id limit #{amount}
    </select>

</mapper>